body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

.container {
  background-color: #34237d;
  width: 90%;
  max-width: 1100px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 20px;
  min-height: 70vh;
  padding: 20px 40px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  margin-left: 0;
  font-size: xx-large;
  color: whitesmoke;
  font-weight: bolder;
}

.nav-buttons button {
  margin-left: 10px;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 80px;
  cursor: pointer;
}

.upload-btn {
  background-color: #fed964;  /* nice orange */
  color: black;
}

.about-btn {
    background-color: transparent;
    color: whitesmoke;
}

/* Content */
.content {
  text-align: left;
  margin-top: 40px;
  font-size: xx-large;
  color: whitesmoke;
}

.upload-section {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}

/* Placeholder boxes */
.upload-placeholder {
  width: 150px;
  height: 120px;
  overflow: hidden;
  background-color: #8d83b6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  cursor: pointer;
}

.preview {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* 👈 THIS is the key */
  border-radius: 10px;
}

.cancel-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: whitesmoke;
  font-size: medium;
  text-align: center;
}